**Importando bibliotecas:**

In [1]:
import pandas as pd

df = pd.read_csv("supermarket_sales.csv", sep=';')

**Convertendo valores para o tipo float:**

In [ ]:
def convert_decimal_columns_to_float(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            try:
                df[col] = df[col].str.replace(',', '.').astype(float)
                print(f"Coluna '{col}' convertida para float.")
            except (ValueError, AttributeError):
                print(f"Coluna '{col}' não foi convertida (não é decimal).")
    return df

df = convert_decimal_columns_to_float(df)

print("\nTipos de dados das colunas após a conversão:")
print(df.dtypes)

Coluna 'Invoice ID' não foi convertida (não é decimal).
Coluna 'Branch' não foi convertida (não é decimal).
Coluna 'City' não foi convertida (não é decimal).
Coluna 'Customer type' não foi convertida (não é decimal).
Coluna 'Gender' não foi convertida (não é decimal).
Coluna 'Product line' não foi convertida (não é decimal).
Coluna 'Unit price' convertida para float.
Coluna 'Tax 5%' convertida para float.
Coluna 'Total' convertida para float.
Coluna 'Date' não foi convertida (não é decimal).
Coluna 'Time' não foi convertida (não é decimal).
Coluna 'Payment' não foi convertida (não é decimal).
Coluna 'cogs' convertida para float.
Coluna 'gross margin percentage' convertida para float.
Coluna 'gross income' convertida para float.
Coluna 'Rating' convertida para float.

Tipos de dados das colunas após a conversão:
Unnamed: 0                   int64
Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

**Convertendo valores para o tipo datetime**

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
df['Time'] = pd.to_datetime(df['Time'], format='mixed').dt.time

# Análise Descritiva por Categoria

**Quantidade vendida por Linha de Produto:**

In [4]:
unique_product_line = df['Product line'].unique()

for product_line in unique_product_line:

  filtered_df = df[df['Product line'] == product_line]

  total_quantity = filtered_df['Quantity'].sum()

  print(f"Total de vendas de '{product_line}': {total_quantity} unidades")

Total de vendas de 'Health and beauty': 854 unidades
Total de vendas de 'Electronic accessories': 971 unidades
Total de vendas de 'Home and lifestyle': 911 unidades
Total de vendas de 'Sports and travel': 920 unidades
Total de vendas de 'Food and beverages': 952 unidades
Total de vendas de 'Fashion accessories': 902 unidades

**Total vendido por Linha de Produto:**

In [5]:
sales_product_line = df.groupby('Product line')['Total'].sum()

sales_product_line = sales_product_line.sort_values(ascending=False)

print(sales_product_line)

Product line
Food and beverages        56144.8440
Sports and travel         55122.8265
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Home and lifestyle        53861.9130
Health and beauty         49193.7390
Name: Total, dtype: float64

**Média de vendas por Linha de Produto:**

In [6]:
mean_sales_product_line = df.groupby('Product line')['Total'].mean()

mean_sales_by_branch = mean_sales_product_line.sort_values(ascending=False)
print("Média de vendas por filial:")
print(mean_sales_by_branch)

Média de vendas por filial:
Product line
Home and lifestyle        336.636956
Sports and travel         332.065220
Health and beauty         323.643020
Food and beverages        322.671517
Electronic accessories    319.632538
Fashion accessories       305.089298
Name: Total, dtype: float64

# Análise Descritiva por Filial

**Total vendido por Filial:**

In [7]:
sales_branch = df.groupby('Branch')['Total'].sum()

sales_branch = sales_branch.sort_values(ascending=False)

print(sales_branch)

Branch
C    110568.7065
A    106200.3705
B    106197.6720
Name: Total, dtype: float64

**Média de vendas por Filial:**

In [8]:
mean_sales_branch = df.groupby('Branch')['Total'].mean()

mean_sales_branch = mean_sales_branch.sort_values(ascending=False)
print("Média de vendas por filial:")
print(mean_sales_branch)

Média de vendas por filial:
Branch
C    337.099715
B    319.872506
A    312.354031
Name: Total, dtype: float64

**Quantidade de vendas por Filial:**

In [9]:
unique_product_branch = df['Branch'].unique()

for product_line in unique_product_branch:

  filtered_df = df[df['Branch'] == product_line]

  total_quantity = filtered_df['Quantity'].sum()

  print(f"Total de vendas de '{product_line}': {total_quantity} unidades")

Total de vendas de 'A': 1859 unidades
Total de vendas de 'C': 1831 unidades
Total de vendas de 'B': 1820 unidades

# Análise Descritiva por Produto

**Média de preço dos Produtos:**

In [10]:
mean_price_product = df.groupby('Product line')['Unit price'].mean().reset_index()

mean_price_product.columns = ['Product Line', 'Average Unit Price']

print(mean_price_product)

             Product Line  Average Unit Price
0  Electronic accessories           53.551588
1     Fashion accessories           57.153652
2      Food and beverages           56.008851
3       Health and beauty           54.854474
4      Home and lifestyle           55.316937
5       Sports and travel           56.993253

# Análise Descritiva por Cliente

**Total vendido por Tipo de Cliente:**

In [11]:
sales_customer_type = df.groupby('Customer type')['Total'].sum()

sales_customer_type = sales_customer_type.sort_values(ascending=False)
print(sales_customer_type)

Customer type
Member    164223.444
Normal    158743.305
Name: Total, dtype: float64

**Quantidade vendido por Tipo de Cliente:**

In [12]:
unique_customer_type = df['Customer type'].unique()

for customer_type in unique_customer_type:

  filtered_df = df[df['Customer type'] == customer_type]

  total_quantity = filtered_df['Quantity'].sum()

  print(f"Total de vendas de '{customer_type}': {total_quantity} unidades")

Total de vendas de 'Member': 2785 unidades
Total de vendas de 'Normal': 2725 unidades

# Análises Temporais

**Total vendido Diariamente:**

In [13]:
daily_sales = df.groupby(df['Date'].dt.date)['Total'].sum().reset_index()
daily_sales.columns = ['Date', 'Total Sales']

print(daily_sales)

          Date  Total Sales
0   2019-01-01    4745.1810
1   2019-01-02    1945.5030
2   2019-01-03    2078.1285
3   2019-01-04    1623.6885
4   2019-01-05    3536.6835
..         ...          ...
84  2019-03-26    1962.5130
85  2019-03-27    2902.8195
86  2019-03-28    2229.4020
87  2019-03-29    4023.2430
88  2019-03-30    4487.0595

[89 rows x 2 columns]

**Total vendido Mensalmente:**

In [ ]:
df['Month'] = df['Date'].dt.to_period('M')
monthly_sales = df.groupby('Month')['Total'].sum().reset_index()
monthly_sales.columns = ['Month', 'Total Sales']
monthly_sales['Month'] = monthly_sales['Month'].astype(str)

print(monthly_sales)

     Month  Total Sales
0  2019-01   116291.868
1  2019-02    97219.374
2  2019-03   109455.507

**Total vendido por Hora:**

In [17]:
df['Hour'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.hour
sales_by_hour = df.groupby('Hour')['Total'].sum().reset_index()
sales_by_hour.columns = ['Hour', 'Total Sales']

print(sales_by_hour)

    Hour  Total Sales
0     10   31421.4810
1     11   30377.3295
2     12   26065.8825
3     13   34723.2270
4     14   30828.3990
5     15   31179.5085
6     16   25226.3235
7     17   24445.2180
8     18   26030.3400
9     19   39699.5130
10    20   22969.5270